.bg-color-green{
    background-color: #1F4B43;
}

.radius-33{
    border-radius: 33px;
}

.color-amber{
    color: #EB664E;
}
.background-gris{
    background-color: #E9E9E9;
    background-color: #FFFFFF;
}

.color-orange{
    color: #E7C873;
}
.background-orange{
    background-color: #E7C873;
}